@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}
html,body {
    overflow-x: hidden
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply w-11/12  mx-auto
}

.gradient-1{
    background-image: linear-gradient(87.05deg, #6462F0 0%, #9190E9 95.5%);
  }